<section class="mt-5 mx-5">
    <div class="my-3 d-flex text-light">
      <h4>Todos</h4>
      <h6>(120)</h6>
    </div>
    <div class="row row-cols-1 row-cols-sm-4 g-4">
      <div class="col">
        <div class="card">
          <img src="../assets/DEMONIO NEGRO.png"
            class="card-img-top" alt="...">
          <div class="card-body text-light">
            <p class="card-text">Demonio Negro</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="../assets/EL ULTIMO VAGON.png" class="card-img-top" alt="...">
          <div class="card-body text-light">
            <p class="card-text">El Ultimo Vagon</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="../assets/HIJO DE MONARCAS.png" class="card-img-top" alt="...">
          <div class="card-body text-light">
            <p class="card-text">Hijo de Monarcas</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="../assets/LA SIRENITA.png" class="card-img-top" alt="...">
          <div class="card-body text-light">
            <p class="card-text">La Sirenita</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="../assets/SUPER MARIO BROSS.png"
            class="card-img-top" alt="...">
          <div class="card-body text-light">
            <p class="card-text">Mario Bross</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="../assets/TESLA.png"
            class="card-img-top" alt="...">
          <div class="card-body text-light">
            <p class="card-text">Tesla</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="../assets/VOLVERTE A VER.png" class="card-img-top" alt="...">
          <div class="card-body text-light">
            <p class="card-text">Volverte a Ver</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="../assets/SUPER MARIO BROSS.png" class="card-img-top" alt="...">
          <div class="card-body text-light">
            <p class="card-text">Super Mario</p>
          </div>
        </div>
      </div>
    </div>
  </section>
