
<section>
    <nav class="navbar navbar-expand-lg bg-body-tertiary c-Light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"></a>
          <img class="LogoPeluculas" src="../assets/logo-filmelier.webp" alt="logo" >
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse d-flex flex-row-reverse mb-2 mb-lg-0 " id="navbarSupportedContent">
            <ul class="navbar-nav 2 ">
              <li class="nav-item">
                <a class="nav-link" href="#">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Peliculas</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Series</a>
              </li>
              <li class="nav-item">
                <a class="nav-link ">Ingresar -></a>
              </li>
            </ul>
          </div>
        </div>
      </nav> 
</section>
<section class="ay-5 mx-5 my-5 text-light"> 
  <h1> PelisUP!</h1>
  <h3> Plataforma para ver pelicuas y series 😉 </h3>
</section>
<section class="my-7 mx-5  ">
  <div class="mb-3 input-group">
    <span class="input-group-text" id="inputGroupPrepend"><i class="bi bi-search"></i></span>
    <input type="search" class="form-control" id="exampleFormControlInput1" placeholder="Buscar películas y series">
  </div>
</section>
<section>
  <div class="mx-5 d-flex">
    <div class="card-group">
      <a href="#" class="btn btn-outline-info">Todos</a>
    </div>
    <div class="card-group">
      <a href="#" class="btn btn-outline-info">Películas</a>
    </div>
    <div class="card-group">
      <a href="#" class="btn btn-outline-info">Series</a>
    </div>
  </div>
</section>
<section class="mt-5 mx-5">
  <div class="my-3 d-flex text-light">
    <h4>Todos</h4>
    <h6>(120)</h6>
  </div>
  <div class="row row-cols-1 row-cols-sm-4 g-4">
    <div class="col">
      <div class="card">
        <img src="../assets/DEMONIO NEGRO.png"
          class="card-img-top" alt="...">
        <div class="card-body text-light">
          <p class="card-text">Demonio Negro</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../assets/EL ULTIMO VAGON.png" class="card-img-top" alt="...">
        <div class="card-body text-light">
          <p class="card-text">El Ultimo Vagon</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../assets/HIJO DE MONARCAS.png" class="card-img-top" alt="...">
        <div class="card-body text-light">
          <p class="card-text">Hijo de Monarcas</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../assets/LA SIRENITA.png" class="card-img-top" alt="...">
        <div class="card-body text-light">
          <p class="card-text">La Sirenita</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../assets/SUPER MARIO BROSS.png"
          class="card-img-top" alt="...">
        <div class="card-body text-light">
          <p class="card-text">Mario Bross</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../assets/TESLA.png"
          class="card-img-top" alt="...">
        <div class="card-body text-light">
          <p class="card-text">Tesla</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../assets/VOLVERTE A VER.png" class="card-img-top" alt="...">
        <div class="card-body text-light">
          <p class="card-text">Volverte a Ver</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../assets/SUPER MARIO BROSS.png" class="card-img-top" alt="...">
        <div class="card-body text-light">
          <p class="card-text">Super Mario</p>
        </div>
      </div>
    </div>
  </div>
</section>
