body{
    background-color: #05031a;
}
.LogoPeluculas{
    width: 100px;
}
nav{
    background-color:#060130;
}
.nav-link{
    color: bisque;
}
.card-body{
    background-color: #0a0b1c;
}
.input-group{
    width: 20%;
}