<section class="ay-5 mx-5 my-5 text-light"> 
    <h1> PelisUP!</h1>
    <h3> Plataforma para ver pelicuas y series 😉 </h3>
  </section>
  <section class="my-7 mx-5  ">
    <div class="mb-3 input-group">
      <span class="input-group-text" id="inputGroupPrepend"><i class="bi bi-search"></i></span>
      <input type="search" class="form-control" id="exampleFormControlInput1" placeholder="Buscar películas y series">
    </div>
  </section>
  <section>
    <div class="mx-5 d-flex">
      <div class="card-group">
        <a href="#" class="btn btn-outline-info">Todos</a>
      </div>
      <div class="card-group">
        <a href="#" class="btn btn-outline-info">Películas</a>
      </div>
      <div class="card-group">
        <a href="#" class="btn btn-outline-info">Series</a>
      </div>
    </div>
  </section>
  <app-movie-card></app-movie-card>